<h1>Welcome to NASA API</h1>
<p>This is the home page of our Astronomy Picture of the Day (APOD) API client application. 
    Here, you can explore stunning astronomical images and gain insights into the wonders of the universe. 
    The APOD API provides daily updates of fascinating images with detailed explanations, curated by experts from NASA 
    and other astronomical organizations. Discover the beauty of the cosmos through our carefully designed application.</p>

<div class="home-section">
  <div class="home-description">
    <h2>About Our API</h2>
    <p>
      The Astronomy Picture of the Day (APOD) API is a rich source of astronomical images and explanations.
       Each day, a different image or photograph of our fascinating universe is featured, 
       along with a brief explanation written by a professional astronomer. Our client application showcases these images,
        providing users with a seamless browsing experience to explore space from the comfort of their home.
    </p>
  </div>
  <div class="home-image">
    <img src="/assets/image.png" alt="Astronomy Image" />

  </div>
</div>
